<div class="main">
  <p class="flash"><%= notice %><%= alert %></p>

  <div class="content">
    <h1>VMIMS</h1>
    <p>
      Vender maintenance information management system
    </p>
  </div>

  <%= link_to "ログイン", new_user_session_path, class: 'btn btn-default' %>

<%
=begin
%>
  <section class="emblem">
    <img src="<%= asset_path "emblem.png" %>">
  </section>
<%
=end
%>

</div>
