<div class="background">

  <div class="content">
    <h1>VMIMS</h1>
    <p>
      Vender maintenance information management system
    </p>
  </div>

  <%= link_to "ログイン", new_information_path, class: 'btn btn-default' %>

  <section class="main">
    <img src="<%= asset_path "emblem.png" %>">
  </section>

</div>
