header {
  width: 100%;
  background-color: #000000;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.main {
  color: #000000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.content {
  color: #000000;
}

.flash {
  color: black;
  padding-top: 10px;
}