.main {
  padding-bottom: 15%;
  width: 50%;
  background-size: cover;
  background-attachment: fixed;
  
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}



html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.background {
  background-image: url("background.jpg");
  background-size:contain;
  background-attachment: fixed;
}

.content {
  color: #ffffff;
}